/**
    *   POSITION - HELPERS
    */
[class*="u-all-static"] {
    position: static;
}
[class*="u-all-relative"] {
    position: relative;
}
[class*="u-all-absolute"] {
    position: absolute;
}
[class*="u-all-fixed"] {
    position: fixed;
}
[class*="u-all-sticky"] {
    position: sticky;
}
.u-all-relative--top,
.u-all-absolute--top,
.u-all-fixed--top,
.u-all-sticky--top {
    top: 0;
}
.u-all-relative--right,
.u-all-absolute--right,
.u-all-fixed--right,
.u-all-sticky--right {
    right: 0;
}
.u-all-relative--bottom,
.u-all-absolute--bottom,
.u-all-fixed--bottom,
.u-all-sticky--bottom {
    bottom: 0;
}
.u-all-relative--left,
.u-all-absolute--left,
.u-all-fixed--left,
.u-all-sticky--left {
    left: 0;
}
.u-all-relative--top-left,
.u-all-absolute--top-left,
.u-all-fixed--top-left,
.u-all-sticky--top-left {
    top: 0;
    left: 0;
}
.u-all-relative--top-right,
.u-all-absolute--top-right,
.u-all-fixed--top-right,
.u-all-sticky--top--ight {
    top: 0;
    right: 0;
}
.u-all-relative--bottom-left,
.u-all-absolute--bottom-left,
.u-all-fixed--bottom-left,
.u-all-sticky--bottom-left {
    bottom: 0;
    left: 0;
}
.u-all-relative--bottom-right,
.u-all-absolute--bottom-right,
.u-all-fixed--bottom-right,
.u-all-sticky--bottom-right {
    bottom: 0;
    right: 0;
}
@media (max-width: 599px) {
    [class*="u-xs-static"] {
        position: static;
    }
    [class*="u-xs-relative"] {
        position: relative;
    }
    [class*="u-xs-absolute"] {
        position: absolute;
    }
    [class*="u-xs-fixed"] {
        position: fixed;
    }
    [class*="u-xs-sticky"] {
        position: sticky;
    }
    .u-xs-relative--top,
    .u-xs-absolute--top,
    .u-xs-fixed--top,
    .u-xs-sticky--top {
        top: 0;
    }
    .u-xs-relative--right,
    .u-xs-absolute--right,
    .u-xs-fixed--right,
    .u-xs-sticky--right {
        right: 0;
    }
    .u-xs-relative--bottom,
    .u-xs-absolute--bottom,
    .u-xs-fixed--bottom,
    .u-xs-sticky--bottom {
        bottom: 0;
    }
    .u-xs-relative--left,
    .u-xs-absolute--left,
    .u-xs-fixed--left,
    .u-xs-sticky--left {
        left: 0;
    }
    .u-xs-relative--top-left,
    .u-xs-absolute--top-left,
    .u-xs-fixed--top-left,
    .u-xs-sticky--top-left {
        top: 0;
        left: 0;
    }
    .u-xs-relative--top-right,
    .u-xs-absolute--top-right,
    .u-xs-fixed--top-right,
    .u-xs-sticky--top--ight {
        top: 0;
        right: 0;
    }
    .u-xs-relative--bottom-left,
    .u-xs-absolute--bottom-left,
    .u-xs-fixed--bottom-left,
    .u-xs-sticky--bottom-left {
        bottom: 0;
        left: 0;
    }
    .u-xs-relative--bottom-right,
    .u-xs-absolute--bottom-right,
    .u-xs-fixed--bottom-right,
    .u-xs-sticky--bottom-right {
        bottom: 0;
        right: 0;
    }
}
@media (min-width: 600px) {
    [class*="u-sm-static"] {
        position: static;
    }
    [class*="u-sm-relative"] {
        position: relative;
    }
    [class*="u-sm-absolute"] {
        position: absolute;
    }
    [class*="u-sm-fixed"] {
        position: fixed;
    }
    [class*="u-sm-sticky"] {
        position: sticky;
    }
    .u-sm-relative--top,
    .u-sm-absolute--top,
    .u-sm-fixed--top,
    .u-sm-sticky--top {
        top: 0;
    }
    .u-sm-relative--right,
    .u-sm-absolute--right,
    .u-sm-fixed--right,
    .u-sm-sticky--right {
        right: 0;
    }
    .u-sm-relative--bottom,
    .u-sm-absolute--bottom,
    .u-sm-fixed--bottom,
    .u-sm-sticky--bottom {
        bottom: 0;
    }
    .u-sm-relative--left,
    .u-sm-absolute--left,
    .u-sm-fixed--left,
    .u-sm-sticky--left {
        left: 0;
    }
    .u-sm-relative--top-left,
    .u-sm-absolute--top-left,
    .u-sm-fixed--top-left,
    .u-sm-sticky--top-left {
        top: 0;
        left: 0;
    }
    .u-sm-relative--top-right,
    .u-sm-absolute--top-right,
    .u-sm-fixed--top-right,
    .u-sm-sticky--top--ight {
        top: 0;
        right: 0;
    }
    .u-sm-relative--bottom-left,
    .u-sm-absolute--bottom-left,
    .u-sm-fixed--bottom-left,
    .u-sm-sticky--bottom-left {
        bottom: 0;
        left: 0;
    }
    .u-sm-relative--bottom-right,
    .u-sm-absolute--bottom-right,
    .u-sm-fixed--bottom-right,
    .u-sm-sticky--bottom-right {
        bottom: 0;
        right: 0;
    }
}
@media (min-width: 900px) {
    [class*="u-md-static"] {
        position: static;
    }
    [class*="u-md-relative"] {
        position: relative;
    }
    [class*="u-md-absolute"] {
        position: absolute;
    }
    [class*="u-md-fixed"] {
        position: fixed;
    }
    [class*="u-md-sticky"] {
        position: sticky;
    }
    .u-md-relative--top,
    .u-md-absolute--top,
    .u-md-fixed--top,
    .u-md-sticky--top {
        top: 0;
    }
    .u-md-relative--right,
    .u-md-absolute--right,
    .u-md-fixed--right,
    .u-md-sticky--right {
        right: 0;
    }
    .u-md-relative--bottom,
    .u-md-absolute--bottom,
    .u-md-fixed--bottom,
    .u-md-sticky--bottom {
        bottom: 0;
    }
    .u-md-relative--left,
    .u-md-absolute--left,
    .u-md-fixed--left,
    .u-md-sticky--left {
        left: 0;
    }
    .u-md-relative--top-left,
    .u-md-absolute--top-left,
    .u-md-fixed--top-left,
    .u-md-sticky--top-left {
        top: 0;
        left: 0;
    }
    .u-md-relative--top-right,
    .u-md-absolute--top-right,
    .u-md-fixed--top-right,
    .u-md-sticky--top--ight {
        top: 0;
        right: 0;
    }
    .u-md-relative--bottom-left,
    .u-md-absolute--bottom-left,
    .u-md-fixed--bottom-left,
    .u-md-sticky--bottom-left {
        bottom: 0;
        left: 0;
    }
    .u-md-relative--bottom-right,
    .u-md-absolute--bottom-right,
    .u-md-fixed--bottom-right,
    .u-md-sticky--bottom-right {
        bottom: 0;
        right: 0;
    }
}
@media (min-width: 1200px) {
    [class*="u-lg-static"] {
        position: static;
    }
    [class*="u-lg-relative"] {
        position: relative;
    }
    [class*="u-lg-absolute"] {
        position: absolute;
    }
    [class*="u-lg-fixed"] {
        position: fixed;
    }
    [class*="u-lg-sticky"] {
        position: sticky;
    }
    .u-lg-relative--top,
    .u-lg-absolute--top,
    .u-lg-fixed--top,
    .u-lg-sticky--top {
        top: 0;
    }
    .u-lg-relative--right,
    .u-lg-absolute--right,
    .u-lg-fixed--right,
    .u-lg-sticky--right {
        right: 0;
    }
    .u-lg-relative--bottom,
    .u-lg-absolute--bottom,
    .u-lg-fixed--bottom,
    .u-lg-sticky--bottom {
        bottom: 0;
    }
    .u-lg-relative--left,
    .u-lg-absolute--left,
    .u-lg-fixed--left,
    .u-lg-sticky--left {
        left: 0;
    }
    .u-lg-relative--top-left,
    .u-lg-absolute--top-left,
    .u-lg-fixed--top-left,
    .u-lg-sticky--top-left {
        top: 0;
        left: 0;
    }
    .u-lg-relative--top-right,
    .u-lg-absolute--top-right,
    .u-lg-fixed--top-right,
    .u-lg-sticky--top--ight {
        top: 0;
        right: 0;
    }
    .u-lg-relative--bottom-left,
    .u-lg-absolute--bottom-left,
    .u-lg-fixed--bottom-left,
    .u-lg-sticky--bottom-left {
        bottom: 0;
        left: 0;
    }
    .u-lg-relative--bottom-right,
    .u-lg-absolute--bottom-right,
    .u-lg-fixed--bottom-right,
    .u-lg-sticky--bottom-right {
        bottom: 0;
        right: 0;
    }
}
@media (min-width: 1800px) {
    .u-xl-relative--top,
    .u-xl-absolute--top,
    .u-xl-fixed--top,
    .u-xl-sticky--top {
        top: 0;
    }
    .u-xl-relative--right,
    .u-xl-absolute--right,
    .u-xl-fixed--right,
    .u-xl-sticky--right {
        right: 0;
    }
    .u-xl-relative--bottom,
    .u-xl-absolute--bottom,
    .u-xl-fixed--bottom,
    .u-xl-sticky--bottom {
        bottom: 0;
    }
    .u-xl-relative--left,
    .u-xl-absolute--left,
    .u-xl-fixed--left,
    .u-xl-sticky--left {
        left: 0;
    }
    .u-xl-relative--top-left,
    .u-xl-absolute--top-left,
    .u-xl-fixed--top-left,
    .u-xl-sticky--top-left {
        top: 0;
        left: 0;
    }
    .u-xl-relative--top-right,
    .u-xl-absolute--top-right,
    .u-xl-fixed--top-right,
    .u-xl-sticky--top--ight {
        top: 0;
        right: 0;
    }
    .u-xl-relative--bottom-left,
    .u-xl-absolute--bottom-left,
    .u-xl-fixed--bottom-left,
    .u-xl-sticky--bottom-left {
        bottom: 0;
        left: 0;
    }
    .u-xl-relative--bottom-right,
    .u-xl-absolute--bottom-right,
    .u-xl-fixed--bottom-right,
    .u-xl-sticky--bottom-right {
        bottom: 0;
        right: 0;
    }
}
